# Jekyll
_site
.sass-cache
Gemfile.lock
.jekyll-cache

# OSX
.DS_Store

# VSCode
.vscode

# Node JS modules
node_modules/

# Firebase cache
.firebase/
firebase-debug.log

# internal files
backup/
resources/
_config.dev.yml
ACCOUNTS.md
GOOGLE_MAPS.md