# Jekyll
_site
.sass-cache
Gemfile.lock
.jekyll-cache

# OSX
.DS_Store

# VSCode
.vscode

# NodeJS
node_modules/
package-lock.json
package.json

# Firebase cache
.firebase/
firebase-debug.log

# internal files
_config.dev.yml