<!-- theme -->
<script src="{{ '/js/scripts.js' | prepend: site.baseurl | js_cache_bust }}"></script>
<!-- cookie consent -->
<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<!-- Google maps -->
<!-- <script src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps.api_key }}&callback=initMap" async defer></script> -->
<!-- cookie consent -->
<script src="{{ '/js/cookie_consent.js' | prepend: site.baseurl | js_cache_bust }}"></script>