<!-- theme -->
<script src="{{ '/js/scripts.js' | prepend: site.baseurl | js_cache_bust }}"></script>
<!-- cookie consent -->
<script defer src="{{ '/js/cookieconsent.js' | prepend: site.baseurl }}"></script>
<script defer src="{{ '/js/cookieconsent_init.js' | prepend: site.baseurl }}"></script>
<script type="text/plain" data-cookiecategory="analytics">
  console.log('analytics enabled!');
</script>
<!-- Google Tag Manager -->
<script type="text/plain" data-cookiecategory="analytics" src="{{ '/js/google_tag_manager.js' | prepend: site.baseurl | js_cache_bust }}"></script>
<!-- Google Maps -->
<script type="text/plain" data-cookiecategory="analytics" src="{{ '/js/google_maps.js' | prepend: site.baseurl | js_cache_bust }}"></script>
<script type="text/plain" data-cookiecategory="analytics" src="https://maps.googleapis.com/maps/api/js?key={{ site.google_maps.api_key }}&callback=initMap&libraries=&v=weekly"></script>